.beginning {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    color: #ffff;
    font-weight: bolder;
}

.beginning .container {
    width: 300px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 15px;
}
.beginning img {
    width: 50%;
    height: auto;
}

.beginning .mision {
    background: #fd9000;
}

.beginning .vision {
    background: #313131;
}

.beginning .valores {
    background: #fd9000;
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .beginning {
        grid-template-columns: auto auto;
        gap: 1rem;
    }

    .container:nth-child(3) {
        grid-column: 1 / -1; /* Hacer que el tercer elemento ocupe ambas columnas */
        justify-self: center; /* Centrar el elemento horizontalmente */
    }
}

@media only screen and (max-width: 600px) {
    .beginning {
        display: none;
    }

    .title {
        display: none;
    }
}
