.beginning {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    color: #ffff;
    font-weight: bolder;
}

.beginning .container {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    position: relative;
}

.container span {
    position: absolute;
    top: calc(370px / 2);
    font-family: 'Poppins', serif;
}

.beginning img {
    width: 250px;
    height: auto;
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .beginning {
        grid-template-columns: auto auto;
        gap: 1rem;
    }

    .container:nth-child(3) {
        grid-column: 1 / -1; /* Hacer que el tercer elemento ocupe ambas columnas */
        justify-self: center; /* Centrar el elemento horizontalmente */
    }
}

@media only screen and (max-width: 600px) {
    .beginning {
        grid-template-columns: auto auto;
        gap: 1rem;
    }

    .container:nth-child(3) {
        grid-column: 1 / -1; /* Hacer que el tercer elemento ocupe ambas columnas */
        justify-self: center; /* Centrar el elemento horizontalmente */
    }

    .beginning img {
        width: 180px;
        height: auto;
    }

    .container {
        gap: 1rem;
        width: 190px;
    }
}
