.sponsor {
    width: 100%;
    height: auto;
    margin: auto;
    overflow: hidden;
}

.sponsor .track {
    display: flex;
    animation: scroll 10s linear infinite;
    -webkit-animation: scroll 40s linear infinite;
    width: calc(200px * 8);
    gap: 1.5rem;
    align-items: center;
}

.sponsor .slide {
    width: 200px;
}

.sponsor .slide img {
    width: 100%;
    height: auto;
}

@keyframes scroll {
    0% {
        -webkit-animation: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-animation: translateX(calc(-200px * 5));
        transform: translateX(calc(-200px * 5));
    }
}
