.contact {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.contact .linkContact {
    color: #7d8b7c;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-family: 'Poppins', serif;
    font-size: 12px;
}

.input {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    min-width: 186px;
    max-width: 186px;
    cursor: pointer;
    border: 1px solid #020912;
    background: #fff;
}

.input > input {
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    color: #fff;
}

.input > .span {
    font-size: 20px;
    position: absolute;
    left: 10px;
    top: 20px;
    transform: translateY(-10px);
    transition: 0.7s;
    pointer-events: none;
}

.input > .textInput:focus ~ .span {
    top: 0;
    font-size: 15px;
}

.spanValited {
    position: absolute;
    left: 10px;
    top: 0;
    transform: translateY(-10px);
    font-size: 15px;
    pointer-events: none;
}

@media (max-width: 620px) {
    .title {
        font-size: 22px;
    }

    .contact .linkContact {
        font-size: 9px;
    }
}
