header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    position: fixed;
    width: 100%;
    z-index: 10;
    background: #000;
    max-height: 126.33px;
}

header i {
    color: #fff;
}

.logo {
    width: 1.2in;
    height: auto;
}

.abriMenu,
.cerrarMenu {
    display: none;
}

.navList {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.navList li {
    color: #fff;
    cursor: pointer;
}

/* .navList li:hover {
    background: #fff;
    color: #fd9000;
} */

@media only screen and (max-width: 600px) {
    .abriMenu,
    .cerrarMenu {
        display: block;
        cursor: pointer;
    }

    .nav {
        display: none;
    }

    .isOpen {
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        background: #fd9000;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax #fd8f0033;
        height: 100vh;
    }

    .navList {
        flex-direction: column;
        align-items: end;
    }
}
