@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    color: white;
    text-align: center;
    text-shadow: 1px 1px 0.1px #ff7300, -1px -1px 0.1px #ff7300,
        -1px 1px 0.1px #ff7300, 1px -1px 0.1px #ff7300;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.body {
    background: #000;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.imgHeader {
    width: 100%;
    height: auto;
    margin-top: 126.33px;
}

p {
    color: #000;
    font-weight: bolder;
    padding: 20px;
}

/* @keyframes appear {
    from {
        opacity: 0;
        scale: 0.4;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}

.block {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
} */
