.programs {
    color: #fff;
    font-weight: bolder;
    display: grid;
    grid-template-columns: repeat(4, auto);
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.programs .containerProgram {
    width: 450px;
    height: 350px;
    position: relative;
}

.programs .containerProgram img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.fondo {
    background: #ff730061;
    width: 100px;
    height: 70px;
    position: absolute;
    right: 0;
    border-bottom-left-radius: 100%;
}

.programs .containerProgram .contendorSpan span {
    position: absolute;
    width: 100%;
    font-size: 1.5em;
    color: #ff7300;
    text-align: center;
    text-shadow: 1px 1px 0.1px #821131, -1px -1px 0.1px #821131,
        -1px 1px 0.1px #821131, 1px -1px 0.1px #821131;
    font-family: 'Poppins', serif;
    font-weight: 400;
}

.button {
    position: absolute;
    bottom: 5px;
    left: 10px;
    cursor: pointer;
    background: #ff7300;
    padding: 10px;
    border-radius: 10px;
}

.button:hover {
    color: #ff7300;
    background: #fff;
}

@media (min-width: 1280px) and (max-width: 2024px) {
    .programs {
        grid-template-columns: repeat(3, auto);
        gap: 2rem;
    }

    .programs > :nth-child(4) {
        grid-column: 1 / -1;
        justify-self: center;
    }
}

@media (min-width: 601px) and (max-width: 1279px) {
    .programs {
        grid-template-columns: repeat(2, auto);
        gap: 1rem;
    }

    .programs .containerProgram {
        width: 350px;
        height: 250px;
    }
}

@media (max-width: 600px) {
    .programs {
        grid-template-columns: auto;
        gap: 1rem;
    }

    .programs .containerProgram {
        width: 310px;
        height: 210px;
    }
}
